/* Animacion */

.pantalla-carga {
    position: fixed; /*Hace que esté fijo en toda la pantalla*/
    width: 100%;/*Abarca toda la pantalla*/
    height: 100%;/*Abarca toda la pantalla*/
    background-color: #000000; /* Color de fondo de la pantalla de carga */
    display: flex; /*Flexbox*/
    flex-direction: column; /*Forma de columna*/
    justify-content: center; /*Centrado*/
    align-items: center;/*Centrado*/
    animation: desvanecer 1.75s ease-in-out forwards; /* Animación de desvanecimiento */
    z-index: 1;
}


.spinner {
    width: 100px; /*Ancho*/
    height: 100px;/*Alto*/
    border-top: 4px solid #ff0000; /* Color del spinner */
    border-radius: 50%; /*Lo que le da forma de circunferencia al ciruclo gris */
    animation: girar 1s linear infinite; /* Animación del spinner */
}

/*Animación de Girar*/

@keyframes girar {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 

/* Animación para que desaparezca */
 @keyframes desvanecer {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none; 
    }
}
