/* Contenedor principal del carrusel */
.carousel-container {
  overflow: hidden;
  width: 100%;
  height: 550px; 
  margin: 0 auto; 
  position: relative;
}

/* Estilos para cada diapositiva del carrusel */
.carousel-slide {
  position: absolute;
  width: 100%; 
  height: 100%; 
  object-fit: cover; /* Ajusta la imagen para cubrir el espacio */
  top: 0;
  left: 0;
  opacity: 0; /* Inicialmente oculto */
  transition: opacity 1s ease, transform 1s ease; /* Transiciones suaves */
}

/* Estilos para las imágenes dentro de las diapositivas */
.carousel-slide img {
  width: 100%; 
  height: auto; /* Altura automática para mantener la proporción */
}

/* Estilo para la diapositiva activa */
.carousel-slide.active {
  opacity: 1; /* Hace visible la diapositiva activa */
}
