/* Estilos de la barra de navegación */
nav {
    background-color: black;
    height: 110px;
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

li {
    transition: transform 0.3s;
}

header li:not(.search-container):hover {
    transform: translateY(-4px);
}
.burger-menu {
    display: none;
}
.logo-mobile-only {
    display: none;
}

img {
    width: 90px;
}

i {
    font-size: 24px;
    color: white;
    margin: 0 10px;
}

i:hover {
    color: #ff0000;
}

a {
    color: white;
    text-decoration: none;
    transition: all 150ms;
}

a:hover {
    color: rgb(255, 0, 0);
}

/* Estilos para la barra de búsqueda */
header input[type="text"] {
    padding: 10px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 400px;
}

header button, button {
    background-color: rgb(49, 49, 49);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 11px 15px;
    margin-left: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 150ms;
}

header button:hover, button:hover {
    background-color: #e41212;
}

/* Footer */
footer {
    background-color: rgba(0, 0, 0, 0.884);
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    max-width: 960px;
    margin: 0 auto;
}

.footer-content p {
    font-size: 16px;
    display: inline;
}

.wrapper {
    min-height: 81vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 600px) {
    nav {
        height: 85px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 99;
    }

    .burger-menu {
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 100;
    }

    nav ul {
        position: fixed;
        top: 0;
        left: -100%;
        width: 60%;
        height: 100vh;
        background-color: #000;
        padding-top: 60px;
        z-index: 50;
        transition: left 0.3s;
    }

    nav ul.active {
        left: 0;
    }

    nav ul li {
        padding: 15px 20px;
        border-bottom: 1px solid #333;
    }

    .nav-desktop {
        display: none;
    }

    .search-container {
        display: none;
    }

    .logo-mobile-only {
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: 101;
    }

    .logo-mobile {
        width: 90px;
        height: auto;
    }

    footer {
        display: none;
    }
}
