 /* Header*/
header {
	font-family: 'Roboto', sans-serif;
	background-color: #0D1B2A;
	color: #fff;
	padding: 20px;
    display: flex;
    align-items: center;
  }
  
  header h1 {
	font-size: 36px;
	margin: 0;
  }

  .title {

	font-family: 'Trade Winds', cursive;
	text-decoration: none;


  }

  a {
	text-decoration: none;
	color: #E0E1DD;
  }

  /* Body*/

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
  }
  
  
/* Footer*/

  footer {
	font-family: 'Roboto Slab', serif;
	background-color: #f2f2f2;
	padding: 20px;
	margin-top: 50px;
  }
  
  footer h2 {
	font-size: 24px;
	margin-bottom: 10px;
  }
  
  footer p {
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 20px;
  }
  
  footer ul {
	list-style: none;
	margin: 0;
	padding: 0;
  }
  
  footer li {
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 10px;
  }
  
  footer a {
	color: #415A77;
	text-decoration: none;
  }
  
  footer a:hover {
	text-decoration: underline;
  }

  footer form {
	width: 80%;
	margin: 0 auto;
  }

  footer label {
	display: block;
	margin-bottom: 10px;
  }

 footer input[type="text"], 
  input[type="email"], 
  textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: 1px solid #ccc;
  }