* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Estilos de la barra de navegación */
nav {
    background-color: black; 
    height: 110px; 
    display: flex;
    align-items: center;
}

ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

li {
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    padding: 22px;
    border-radius: 10px; 
    transition: all 150ms; 
}

li:hover {
    background-color: rgb(55, 53, 53);
    transform: scale(1.1);
}

img {
    width: 90px; 
}

a {
    color: white;
    text-decoration: none;
}

/* Estilos para la barra de búsqueda */
header input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    width: 400px;
    background-color: #f2f2f2; 
    border: 1px solid #ccc; 
    
}

header button {
    background-color: rgb(85, 85, 85);
    color: white; 
    border: none;
    border-radius: 5px;
    padding: 11px 15px;
    margin-left: 5px; 
    cursor: pointer;
    font-size: 16px;
    transition: background-color 150ms; 
}

header button:hover {
    background-color: #e41212; 
}
header input[type="text"]:hover {
    background-color: #f2f2f2; 
}







